# compiled output
/dist
/node_modules

# SQLite
*.db
*.db-journal
prisma/dev.db*

# env
.env
.env.local

# local npm cache (optional workaround for broken global cache)
.npm-cache

# logs
npm-debug.log*

# IDE
.idea
.vscode

# OS
.DS_Store
